/*
img {
	border: none;
}
*/
#normal1 {
    position: relative;
}
#normal2, #normal3, #normal4, #normal5 {
	display: none;
    position: relative;
}
#card1 {
    position: relative;
}
#card2, #card3, #card4, #card5 {
	display: none;
    position: relative;
}
#gallery {
	margin: 0 auto;
	width: auto;
}
#thumbs {
	margin: 10px auto 10px auto;
	text-align: center;
	width: auto;
}
#bigimages {
	width: auto;
	float:left;
}
#cardimages {
	width: auto;
	float:left;
}
#thumbs img {
	width: 100px;
	height: 100px;
}
#bigimages img {
	margin-top: 5px;
	width: auto;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
#bigimages img.transparent {
    opacity:0;
}
#cardimages img {
	margin-top: 5px;
	width: auto;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
#cardimages img.transparent {
    opacity:0;
}

#bigimages p {	
	text-align: center;
}

.photogallery{
    margin-left: auto;
    margin-right: auto;
}