html, body {
  font-family: algerian;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 60px;
}

p {
  max-width: 65%;
  min-width: 500px;
}

h2 {
  font-size: 2.6rem;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

video {
  background-color: #a00aa0;
  border: 5px solid #090ff0;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 50%;
}

.nav {
  display: block;
  background-color: #a511f0;
  max-width: 50%;
  min-width: 200px;
  flex: 10;
}

.nav h1 {
  padding-left: 50px;
}




